<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leadal.netdisk.resource.dao.ResourceMapper">

    <insert id="insert" parameterType="com.leadal.netdisk.resource.model.Resource">
        insert into ndk_resource (md5)
        select #{re.md5} from dual
        where not exists
        (select md5 from ndk_resource where md5=#{re.md5})
	</insert>

</mapper>
