<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leadal.netdisk.disk.dao.FolderMapper">

    <select id="queryParentList" resultType="com.leadal.netdisk.disk.model.Folder">
        SELECT * FROM ndk_folder, (SELECT getParentList(#{folderId}) AS parent_ids) temp
        WHERE (FIND_IN_SET(id, temp.parent_ids) or parent_id = #{folderId}) and disk_id = #{diskId} and del_flag = '0'
        ORDER BY create_time ASC
    </select>

<!--    <select id="queryChildList" resultType="com.leadal.netdisk.disk.model.Folder">-->
<!--        SELECT * FROM ndk_folder, (SELECT getChildList(#{folderId}) AS ids) temp-->
<!--        WHERE FIND_IN_SET(id, temp.ids) and id != #{folderId} and disk_id = #{diskId} and del_flag = '0'-->
<!--        ORDER BY create_time ASC-->
<!--    </select>-->

</mapper>
